.view--login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 0;
    /*background: var(--white-200);*/
}

.view--login {
    opacity: 0;
}

.view--login.is-visible {
    opacity: 1;
    transition: opacity 0.4s ease;
}


.auth-header {
    position: fixed;
    top: 3.283vw;
    left: 3.592vw;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 13.75rem;
    height: 3.75rem;

    padding: 0.375rem 0.75rem;

    gap: 0.75rem;
    z-index: 1;
}

.auth-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-selector__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 0;

    transition: background-image 0.3s ease;
}

.bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;

    transition: opacity 0.25s ease;
}

.bg--login {
    background-image: url("../../assets/images/background-elements/green-selected-log-in.svg");
}

.bg--signup {
    background-image: url("../../assets/images/background-elements/beige-selected-sign-up.svg");
}

.auth-screen--login .bg--login {
    opacity: 1;
}

.auth-screen--signup .bg--signup {
    opacity: 1;
}

.auth-selector__options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 19.097vw;
    flex-shrink: 0;
    z-index: 1;
}

.auth-option {
    color: var(--font-lighter-black);
    background: none;
    border: none;

    font-family: "Sofia Sans Semi Condensed";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3.75rem */

    letter-spacing: -0.0275rem;

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.auth-option:active {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
}

.is-active {
    color: var(--font-brown);

    font-size: 2.75rem;
    font-weight: 800;
    line-height: 150%; /* 4.125rem */

    letter-spacing: -0.03025rem;
}

.auth-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--beige-200);
}

.auth-footer--login{
    background: var(--mint-200);
}

.terms-title {
    color: var(--aqua-300);
    font-family: "Sofia Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00963rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.copyright-title {
    color: var(--font-black);
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00963rem;

    margin-bottom: 3rem;
}

.auth-main {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/

    flex: 1;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--white-200);
}

.view--login .auth-main {
    background-image: url("../../assets/images/background-elements/green-wave.svg");
    background-size: cover;
    background-position: left bottom;
}

.view--signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;

    z-index: 0;
    background: var(--white-200);
}

.view--signup .auth-main {
    position: relative;
    min-height: 100vh;
    padding-top: 8rem;
    padding-bottom: 6rem;

    margin-top: 2rem;

    justify-content: flex-start;

    background-image: url("../../assets/images/background-elements/beige-wave.svg");
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
}

.view--signup-additional{
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/

    /*display: flex;*/
    /*flex-direction: column;*/

    background: var(--white-200);
}

.view--signup-additional .auth-main {
    position: relative;
    min-height: 80vh;
    padding-bottom: 3rem;

    margin-top: 1rem;

    gap: 1vw;

    /*justify-content: flex-start;*/
    /*align-items: center;*/

    background-image: url("../../assets/images/background-elements/beige-wave-additional.svg");
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
}

.auth-main .button-group--two {
    margin-top: 1.5rem;
}


.view--signup .checkbox-group label{
    font-size: 1rem;
}


/* --- Signup Additional --- */

.auth-intro {
    display: flex;
    width: 17.4375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.6875rem;
}

.auth-title {
    align-self: stretch;

    color: var(--font-black);
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.auth-subtitle {
    align-self: stretch;

    color: var(--font-black);
    font-family: "Sofia Sans";
    font-size: 1.125rem;
    text-align: center;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.01238rem;

    margin-top: -0.75rem;
}


.view--signup-additional .auth-form {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5rem;
}

.view--signup-additional .form-group {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    border: none;        /* маха default fieldset рамката */
    padding: 0;          /* маха default padding */
    margin: 0;
}

.view--signup-additional .form-field--default {
    width: 16rem;
    height: 1.3rem;
    gap: 0.9rem;
    flex-shrink: 0;
}

.form-legend {
    align-self: stretch;

    color: var(--font-black);
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-bottom: 1.6rem;
}

.social-networks {
    display: flex;

    height: 2rem;
    flex-direction: row;
    align-items: center;
    gap: 1.4375rem;
    align-self: stretch;
}

.social-networks__item {
    display: flex;
    width: 9.3125rem;
    height: 2rem;
    align-items: center;
    gap: 1.4375rem;
}

.social-networks__item-icon {
    width: 2.1rem;
    height: 2.1rem;
    flex-shrink: 0;
}

.social-networks__item-label {
    color: var(--aqua-300);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: -0.01238rem;
}


.genres-grid {
    margin-top: -1rem;

    list-style-type: none;

    display: grid;
    width: 36.4375rem;
    height: 18.97438rem;
    padding: 2.25rem 2.875rem;
    row-gap: 1rem;
    column-gap: 28px;
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));

    border-radius: 0.75rem;
    background: var(--white-300);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
}

.genre-option {
    border: none;
    background: none;

    color: var(--font-black);
    font-family: "Sofia Sans";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.genre-option:hover {
    border-radius: 0.375rem;
    background: var(--mint-200);
    box-shadow: 0 2px 6.8px 0 rgba(0, 0, 0, 0.19);
}

.genre-option:active {
    transform: scale(1.05);
    border-radius: 0.375rem;
    background: var(--mint-300);
}

.genre-option--selected {
    border-radius: 0.375rem;
    background: var(--mint-300);
}

.genre-option--selected:hover {
    transform: scale(1.05);
    background: var(--mint-200);
}

