.tooltip {
    position: fixed;
    z-index: 9999;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 220px;
    padding: 2rem 2rem;

    gap: 1.2rem;

    background: var(--white-300);
    border-radius: 0.75rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
}

.tooltip[hidden] {
    display: none;
}


.tooltip__info-title-author {
    display: flex;

    max-width: 260px;

    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;

    padding: 0;
}

.tooltip__book-title {
    font-size: 20px;
    font-weight: 800;

    padding: 0 0 0.3rem 0;
    margin: 0;

}

.tooltip__author-name {
    font-weight: 700;
    font-size: 17px;
    color: var(--aqua-300);

    margin: 0;
}


.tooltip__info-group {
    display: flex;

    max-width: 260px;

    flex-direction: row;
    align-items: flex-start;
    gap: 2.3rem;

    padding: 0;
}

.tooltip__info-subgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;

    padding-top: 0.1rem;
    margin: 0;

}

.tooltip__label {
    font-weight: 600;
    font-size: 16px;
    color: var(--aqua-300);

    padding: 0;
    margin: 0;
}

.tooltip__value {
    font-weight: 800;
    font-size: 16px;
    color: var(--aqua-100);

    padding: 0;
    margin: 0;
}


.tooltip__info-rating {
    gap: 0.16rem;
    align-items: center;
}

.tooltip__info-rating .tooltip__label{
    font-size: 13px;
}

.tooltip__book-rating {
    gap: 0;
    font-weight: 600;
    font-size: 13px;

    color: var(--aqua-300);
}

.tooltip__stars {
    font-size: 17px;
    color: var(--DP-yellow);
}



#book-content-modal .section-header {
    padding-top: 0;
    margin-top: 0;
}

.book-content__visual {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    align-items: flex-start;

    padding-top: 1.1rem;
    margin: 0;
}

#book-content-modal .section-header--title {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0.1rem;
}

.book-content__visual--section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    margin: 0;
    padding: 0;
}

.book-content__visual-element {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;

    margin: 0;
    padding: 0;
}

.book-visual-element--option-name {
    margin: 0;
    padding: 0;
}

#height {
    width: 90%;
    height: auto;
}

#font {
    font-size: 1.25rem;

    padding: 0.3rem;
    background-color: var(--mint-100);
    border: 3px solid var(--aqua-400);
}

.book-color {
    width: 1.6rem;
    height: 1.6rem;

    padding: 0.3rem;
    background-color: var(--DP-yellow);
    border: 4px solid var(--white-100);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.book-content__info {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;

    margin-top: 0.6rem;
}

.book-content__info--top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5.5rem;
}


.book-content__title-rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 4rem;
}

.book-content__info--title {
    padding-top: 0.3rem;

    width: 20rem;

    display: flex;
    flex-direction: column;

    gap: 0.8rem;
}

.book-content__title {
    padding: 0;
    margin: 0;

    font-size: 1.6rem;
    font-weight: 800;
}

.book-content__author {
    padding: 0;
    margin: 0;

    font-size: 1.3rem;
    font-weight: 700;
}

.book-content__info--rating {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.08rem;
}

.book-content__stars {
    margin: 0;
    padding: 0;

    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.3rem;

    color: var(--DP-yellow);
}

.book-content__score {
    font-size: 1rem;
    font-weight: 600;

    padding: 0;
    margin: 0;
}

#book-content-modal .icon-button-group{
    padding-top: 0.8rem;

}


.book-content__info--details {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    padding: 0;
    margin: 0;
}

.book-content__info--detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding: 0;
    margin: 0;
}

#book-content-modal .favourite-genres{
    margin-top: 0.5rem;
}

.book-details--title {
    font-size: 1.1rem;

    padding: 0;
    margin: 0;
}

.book-details--option {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--green-400);

    padding: 0;
    margin: 0;
}


.book-content__info--review {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#book-content-modal  #review--ribbon-title {
    font-size: 1.16rem;
    font-weight: 700;
}

.book-details--review {
    margin-left: 0.2rem;
    width: 36rem;
    height: 13rem;

    font-size: 1.1rem;
    font-family: "Sofia Sans Semi Condensed";

    color: var(--font-black);

    resize: none;
    background: none;
    border: none;
    text-indent: 0.6rem;
    padding-right: 1rem;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: var(--green-200);
    border-radius: 999px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: var(--green-300);
}


#book-content-modal .button {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
}