.view--profile {
    position: relative;
    overflow: visible;

    flex: 1;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    gap: 2rem;

    padding-top: 4rem;
    padding-right: 3rem;

}

.static {
    position: absolute;
    top: 5rem;
    right: 12rem;
}


.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.view--profile img {
    width: 14rem;
    height: auto;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.profile-name {
    color: var(--font-black);
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02475rem;

    margin-bottom: 0;
}

.profile-email {
    margin-top: 0;

    color: var(--aqua-200);
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.01925rem;
}


.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 16rem;
}

.profile-section {
    width: 16rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.profile-section .section__title {
    color: var(--white-100);
    font-family: "Sofia Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.875rem */
    letter-spacing: -0.01375rem;
}

.profile-section .section__title-bookmark {
    width: 16rem;

    top: 50%;
    left: 0;
    transform: translateY(-10%);
}


.profile-social-networks {
    display: flex;

    height: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;

    padding-left: 0.6rem;
}

.social-network__item {
    display: flex;
    align-items: center;

    gap: 1.4375rem;
}

.social-network__item img {
    width: 2.6rem;
    height: 2.6rem;
    /*flex-shrink: 0;*/
}

.social-network__item span {
    color: var(--aqua-300);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: -0.01238rem;
}


.favourite-genres {
    display: flex;
    width: 16rem;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.6rem;
    flex-wrap: wrap;

    padding-left: 1rem;
}

.favourite-genres__item {
    display: flex;
    height: 1.5rem;
    padding: 0.0625rem 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;


    color: var(--font-black);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


    border-radius: 0.375rem;
    background: var(--beige-300);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

