.view--settings {
    top: 2rem;
    left: 0;
    flex: 1;
    max-width: min(1600px, 100%);

    height: 100%;

    overflow-y: auto;
    display: flex;
    gap: 3rem;
}

.settings-section .section__title {
    color: var(--white-100);
    font-family: "Sofia Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.875rem */
    letter-spacing: -0.01375rem;
}

.settings-section .section__title-bookmark {
    height: 3rem;

    top: 50%;
    left: 0;
    transform: translateX(-27%) translateY(-10%);
}


.settings-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-left: 0;
    margin-right: auto;

    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    gap: 3rem;
}


.color-modes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(1rem, 3vw, 2rem);
    align-items: stretch;
}

.color-modes__item {
    position: relative;
    display: flex;
    flex: 1 1 16rem;
    max-width: 17.5rem;

    gap: 0.625rem;

    cursor: pointer;
}

.color-modes__item:hover {
    transform: scale(1.02);
    transition: transform .2s ease, box-shadow .2s ease;

}

.color-modes__item:active {
    transform: scale(0.98);
    transition: transform .2s ease, box-shadow .2s ease;
}

.color-modes__item input {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
    z-index: 4;
}


.mode-card {
    width: 100%;
    max-width: 17.4375rem;
    height: 8rem;
    overflow: hidden;

    position: relative;
}

.mode-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 1;
}

.mode-card span{
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    text-align: center;
    font-family: "Sofia Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 2.25rem */
    letter-spacing: -0.0165rem;
}

.mode-label-white {
    color: var(--white-100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.mode-label-black {
    color: var(--font-black);
}


.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.green-settings.section__title-bookmark {
    height: 3rem;

    top: 50%;
    left: 0;
    transform: translateX(-29%) translateY(-10%);
}


.settings-section--legal {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    margin-left: 0;
    margin-right: 2rem;
    margin-bottom: 6rem;

    gap: 1.6rem;
}

.settings-section__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings-section__article p {
    color: var(--font-black);
    font-family: "Sofia Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.875rem */
    letter-spacing: -0.01375rem;

    margin-bottom: 0.1em;
}

