#view-start {
    position: relative;
}

#view-loading {
    position: relative;
}

.start-screen__loader {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: clamp(7.5rem, 20vh, 13.75rem);
    padding-bottom: clamp(2.5rem, 10vh, 7.5rem);

    /*background: var(--white-100);*/
}

.start-screen img{
    display: flex;
    align-items: center;

    width: var(--logo-size);
    height: auto;
}

.start-screen__title {
    color: var(--font-black);
    text-align: center;

    font-family: "Sofia Sans Semi Condensed";
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}
.start-screen__title strong {
    font-weight: 800;
}

.start-screen__logo,
.start-screen__title {
    transition: opacity 0.6s ease;
}

.fade-out {
    opacity: 0;
}

.hidden {
    display: none;
}

.loader-img {
    filter: brightness(110%) contrast(110%);

    margin-bottom: 10rem;
    margin-right: 3rem;
    width: 45rem;
    height: auto;
}

